.table{
  margin: 3rem auto;
  max-width: 1000px;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  align-content: center;
  
}

.tableEdit{
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  margin: auto;
  font-size: 1.2rem;
}

.tableEdit thead{
  color: white;
  text-align: left;
}

.tableEdit th,
.tableEdit td{
  padding: 3px 12px 3px 12px;
}

.tableEdit tbody{
  background-color: white;
}

.tableEdit tr:nth-child(even){
  background-color: #f3f3f3;
}

.tableEdit button {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  margin: 0.2rem;
}

.tableEdit button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.tableEdit div{
  display: inline;
}

.sort{
  margin: 3rem auto;
  max-width: 300px;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem;
  align-content: center;
  
}

.sort label{
  color:white;
  text-align: left;
}

.sort select {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 50%;
  text-align: left;
  padding: 0.25rem;
}

.sort button {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  margin: 0.2rem;
}

.sort button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

@media screen and (max-width: 600px) {
  .table thead {
    display: none;
  }
  .table td {
    display: flex;
  }
  
  .table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }

  .tableEdit thead {
    display: none;
  }
  .tableEdit td {
    display: flex;
  }
  
  .tableEdit td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}